.about{
    text-align: center;
    font-size: 5vw;
    background-color: rgb(207, 207, 0);
    width:80%;
    height: 20vw;
    margin-left: 10%;
    margin-top:20vw;
    padding-top: 5vw;
    border-radius: 2vw;
}